# Entornos
.env
.env.*
!.env.example

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

# Next.js / React (Asumiendo que el frontend lo usa)
.next/
out/
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SO y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
